*{
    margin: 0;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color:#333;
    padding: 10px 20px;
    height: 60px;
}

.navbar-logo{
    font-size: 30px;
    font-weight: 400;
    padding-left: 100px;
}

.navbar-logo span{
    color: lightblue;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 15px;
    padding-right: 150px;
}

.navbar-menu li a{
    color: #333;
    text-decoration: none;
    display: block;
}





